In [40]:
print(pd.DataFrame([0, 10,20]).mean() )

0    10.0
dtype: float64

In [41]:

def current_date_format(date):
    months = ("ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic")
    day = date.day
    month = months[date.month - 1]
    year = date.year
    messsage = "{} de {} del {}".format(day, month, year)

    return messsage

now = datetime.now()
print(current_date_format(now))

NameError: name 'datetime' is not defined

In [42]:
now = datetime.now()
format = now.strftime('Día :%d, Mes: %m, Año: %Y, Hora: %H, Minutos: %M, Segundos: %S')
print(format)

NameError: name 'datetime' is not defined

In [43]:
preguntar luego a Jaime lo de mirar los duplicados
eliminar las columnas objetivo prof 2, 3 ...

SyntaxError: invalid syntax (<ipython-input-43-2d7e2fc17c65>, line 1)

In [44]:
hacer barras:hombre/mujer evolucion tiempo 

Plot Pie Distritio
sacar los outliers: Distrito (?)

Plot Tramos de edad
outliers

Plot Nacionalidad 
outliers 

Plot Objetivo Profesional 1, 2 y 3

SyntaxError: invalid syntax (<ipython-input-44-5c1431c53338>, line 1)

In [45]:
hacer máscaras?
usar lambda
list comprenhension
explode
normalize 
ponderar sobre x
porcentaje sobre una poblacion

SyntaxError: invalid syntax (<ipython-input-45-b31e9e6dca4d>, line 2)

In [ ]:
normalize porcenajes

In [46]:
# import Pandas as pd
import pandas as pd
# create a new data frame
df = pd.DataFrame({'Name': ['Steve Smith', 'Joe Nadal',
                            'Roger Federer'],
                 'Age':[32, 34, 36]})
df

            Name  Age
0    Steve Smith   32
1      Joe Nadal   34
2  Roger Federer   36

In [53]:
Joe_list= df.groupby(df.Name)
Joe = Joe_list.get_group("Roger Federer")
Joe

            Name  Age  First     Last
2  Roger Federer   36  Roger  Federer

AttributeError: 'DataFrame' object has no attribute 'get_group'

In [48]:
df.Name.str.split(expand=True,)
     
0   Steve   Smith
1   Joe Nadal
2   Roger   Federer

SyntaxError: invalid syntax (<ipython-input-48-92ae906fb836>, line 3)

In [49]:
df[['First','Last']] = df.Name.str.split(" ",expand=True,)
df

            Name  Age  First     Last
0    Steve Smith   32  Steve    Smith
1      Joe Nadal   34    Joe    Nadal
2  Roger Federer   36  Roger  Federer

In [50]:
Age Name    First   Last
0   32  Steve Smith Steve   Smith
1   34  Joe Nadal   Joe Nadal
2   36  Roger Federer   Roger   Federer

SyntaxError: invalid syntax (<ipython-input-50-96c309865f08>, line 1)

In [ ]:
df_20.Nacionalidad.describe

In [55]:
hym= df_20_hym.groupby(df_20_hym.Género)
hombredata = hym.get_group("Hombre")
hombredata

NameError: name 'df_20_hym' is not defined

In [54]:
mujerdata = hym.get_group("Mujer")
mujerdata

NameError: name 'hym' is not defined

In [ ]:
H = hombredata[["Género"]].plot()
H.axvline(pd.to_datetime('2020-01'), color='r', linestyle='--', lw=2, label='Start lockdown')
plt.title("Evolución paro hombres")
plt.legend()

In [ ]:
list(df_20r.columns[0:2])

In [ ]:
df_20r.columns[:2]

In [ ]:
# library
import pandas as pd
 
# --- dataset 1: just 4 values for 4 groups:
df = pd.DataFrame([8,8,1,2], index=['a', 'b', 'c', 'd'], columns=['x'])
 
# make the plot
df.plot(kind='pie', subplots=True, figsize=(8, 8))

In [ ]:
#to increase or decrease any pie, histogram etc, just paste this right abive plot.show

fig = plt.gcf()
fig.set_size_inches(10,10)