# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [199]:
x = 2

print(x)

gabriel_vazquez = "Gabriel Vazquez"

2

In [ ]:
print("Hello Python world!")
print("Nombre de compañero")

compañero = "Compañero123123"

In [202]:
print(compañero)

Compañero123123

Esto es texto

In [204]:
# String, Integer, Float, List, None (NaN)
# str, int, float, list, 

string_ = "23"
numero = 23

print(type(string_))

<class 'str'>

In [ ]:
print(string_)

In [207]:
numero2 = 10
suma = numero + numero2
print(suma)

33

In [ ]:
string2 = "33"
suma2 = string_ + string2
print(suma2)

In [210]:
m = (((numero2 + int(string2))))
print(m)

43

In [ ]:
print(type(int(string2)))

In [213]:
y = 22
y = str(y)
print(type(y))
y

<class 'str'>

'22'

In [ ]:
string2 = int(string2)
print(type(string2))

In [216]:
string3 = "10"
numero_a_partir_de_string = int(string3)
print(numero_a_partir_de_string)
print(string3)

print(type(numero_a_partir_de_string))
print(type(string3))

10
10
<class 'int'>
<class 'str'>

In [ ]:
h = "2"
int(h)

In [232]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

gabriel_vazquez = "Gabriel Vazquez"

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(division_absoluta)
print(type(division))
print(type(division_absoluta))

15
9
36
4.0
4
<class 'float'>
<class 'int'>

In [234]:
x = int(5.6//2)

x

2

kmkfjk

# kskjkjfs

Markdown

### Título 3


1. Uno
2. Dos

In [ ]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""
print(x)
x = 25
x = 76
x = "1"

In [237]:
message2 = "One of Python's strengths is its diverse community." 
print(message2)
message2

One of Python's strengths is its diverse community.

"One of Python's strengths is its diverse community."

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [239]:
edad = 18
edad_companero_der = 29
suma_anterior = edad + edad_companero_der
suma_anterior

47

In [241]:
name = "Ada Lovelace"
x = 2
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [243]:
print(name.upper)

<built-in method upper of str object at 0x0000020BABCC1770>

In [245]:
print(name.upper())

ADA LOVELACE

In [247]:
x = 2
x = x + 1
x += 1

In [249]:
x = 2
y = 4

print(x, y, "Pepito", "Hola")

2 4 Pepito Hola

## 2. Números y operadores

In [251]:
### Enteros ###

x = 3 

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2, sep="||||") # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- Varias cosas en una línea:
1||||2||||8||||10

In [253]:
y = 2.5 
print("- Tipo de y:")
print(type(y)) # Imprime el tipo de y
print("- Varios valores en punto flotante:")
print(y, y + 1, y * 2.5, y ** 2) # Imprime varios números en punto flotante

- Tipo de y:
<class 'float'>
- Varios valores en punto flotante:
2.5 3.5 6.25 6.25

## 3. Tipo None

In [ ]:
x = None

print(type(x))

## 4. Listas, tuplas y colecciones

In [256]:
lc = ["red", "blue", "green"]
lc

['red', 'blue', 'green']

In [258]:
len(lc)

3

In [260]:
la = ["red", "blue", "green", 2, 6.9]


la

['red', 'blue', 'green', 2, 6.9]

In [262]:
print(la[0])

red

In [264]:
la[4]

6.9

In [266]:
# Última posición
la[-1]

6.9

In [268]:
# Penúltima posición
la[-2]

2

In [270]:
len(la)

5

In [272]:
la

['red', 'blue', 'green', 2, 6.9]

In [274]:
tamano = len(la)
la[tamano - 2]

2

In [276]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0]

print(bicycles)
print(message)

['trek', 'cannondale', 'redline', 'specialized']
My first bicycle was a trek

In [278]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [280]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

_ = 'ducati'
motorcycles.remove(_)
print(motorcycles)
print(too_expensive + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

NameError: name 'too_expensive' is not defined

In [283]:
motorcycles.remove(too_expensive)

NameError: name 'too_expensive' is not defined

In [286]:
motorcycles.append(35235)
print("Tamaño de la lista: " + str(len(motorcycles)))
print("salto")
print("m")
print("n")
print("---------")
print(motorcycles[-2])
print("---------")
motorcycles

Tamaño de la lista: 4
salto
m
n
---------
suzuki
---------

['honda', 'yamaha', 'suzuki', 35235]

In [288]:
type(len(motorcycles))

int

In [290]:
tupla = ("2", "3", "2")
tupla

('2', '3', '2')

In [292]:
tupla.remove("2")

AttributeError: 'tuple' object has no attribute 'remove'

In [295]:
len(tupla)

3

In [297]:
type(tupla)

tuple

In [299]:
l = []
type(l)

list

In [301]:
t = ("5,7", 8, [2,5])
t_to_list = list(t)
print(type(t))
print(type(t_to_list))
list_to_tuple = tuple(t_to_list)

<class 'tuple'>
<class 'list'>

In [303]:
t = (2,4,6,8)
print(type(t))
t = list(t)
t.append(45)
print(type(t))
t = tuple(t)
print(type(t))
t

<class 'tuple'>
<class 'list'>
<class 'tuple'>

(2, 4, 6, 8, 45)

In [305]:
l = ["x", 6, "y", "y", "a", 7, 8, 5]
print("l:", l)
print(type(l))
s = set(l)
print(type(s))
print("s:", s)
len(s)

l: ['x', 6, 'y', 'y', 'a', 7, 8, 5]
<class 'list'>
<class 'set'>
s: {5, 6, 7, 8, 'y', 'x', 'a'}

7

## Booleans

String - str
Integer - int
Float - float
List - list
Tuple - tuple
Set - set
None 
Boolean - bool

In [307]:
1 == 1

True

In [309]:
print(1 == 2)

False

In [311]:
1 > 2

False

In [313]:
< > == !=

SyntaxError: invalid syntax (<ipython-input-313-c731cf917638>, line 1)

In [316]:
1 >= 2

False

In [318]:
1 == 1

True

In [320]:
1 >= 1

True

In [322]:
1 != 2

True

In [324]:
1 <= 2

True

In [326]:
l = [2, 4, 6, 8]
s = [2, 3, 1]

if len(l) != len(s):
    print("YES")
else:
    print("NO")

YES

In [328]:
y = True
x = False

l = [2, 4, "7"]

if 1 == 2:
    print("Se cumple")
else:
    print("No se cumple")

No se cumple

In [330]:
gh == 0

NameError: name 'gh' is not defined

In [333]:
x = 2
if x == 2:
    print("IF")
    x = 2
    y = "dkgjsigs"
    if x == 2:
        print("IF-2")
elif x >= 4:
    print("ELIF-gisjigjsigji")
elif x >= 2:
    print("ELIF")
else:
    print("ELSE")

IF
IF-2

In [335]:
x = 5.5

if (x >= 1) and (x <= 3):
    print("Mayor a 1 y menor a 3")
elif x > 5 and x < 6:
    print("Mayor a 5 o menor a 6")

    if x == 1 or x == 2 or x >= 4:
        print("Tres")
    else:
        print("Else")

Mayor a 5 o menor a 6
Tres

0, None, False, [[]]


!=0, Algo, True, [[1, "2"]]

In [337]:
x = None
y = ""
z = 0
m = False

h = 1
if x == None:
    print("IF")
else:
    print("ELSE")

IF

In [339]:
s = "Benancio"
print(s[4])

n

In [341]:
x = ""

if x:
    print(True)
else:
    print(False)

False

In [343]:
True and True

True

In [ ]:
(1==1) or (1==2)

In [346]:
gab = "Gabriel"
len(gab)

7

In [348]:
gab[2]

'b'

## 4.5 Input

In [350]:
x = input("Escribe tu nombre:")
print(x)

In [352]:
primero = int(input("Inserta un número:"))
segundo = int(input("Inserta otro número:"))

print(primero + segundo)

ValueError: invalid literal for int() with base 10: ''

In [355]:
x = "2"

x.lower()

'2'

In [357]:
p = int(input("Número 1:"))
k = int(input("Número 2:"))

if p.isnumeric() and k.isnumeric():
    j = int(p) + int(k)
    print(j)
else:
    print("Solo están permitidos números.")

ValueError: invalid literal for int() with base 10: ''

In [360]:
p=int(input("numero 1:"))
k=int (input("numero 2:"))

if  a and b: 
    int (a) + int(b)
    print ("ha salido bien")

ValueError: invalid literal for int() with base 10: ''

In [ ]:
x = "X"
y = 4

print(x > y)

In [364]:
p=sube

NameError: name 'sube' is not defined

## 5. Iteraciones, For

In [ ]:
lista = ["red", 2, "blue", 4.0]
lista2 = [2, 4, 6, 8, 10, 12, 9518591859]

for x in lista2:
    if x > 6:
        print(x)
    elif x == 6:
        print(x)
    elif x == 4:
        lista2.append(x)

lista2

In [368]:
lista1 = ["Red", "GabriXel", "Blue", 2]

for gato in lista1:
    if gato == "GabriXel":
        print(gato[5])

X

In [ ]:
lista1= ["Red", "GabriXel", "Blue", 2]
for letra in lista1: 
    if letra == len(lista[1]):
        print (len(lista)[1][5])

In [371]:
lista2=["mama", "papa", "alba", "alexia"]
for perro in lista2:
    if perro=="papa":
       print (lista2[1][2])

p

In [373]:
# Sacar del elemento 2 la posición 5.
# Es String
lista = ["Red", "GabriXel", "Blue", 2]

for gato in lista:
    if gato == lista[1]:
        print(gato[5])

X

In [ ]:
# Mostrar la iteración del for
# Es String
lista = ["Red", "GabriXel", "Blue", 2]

hola = 1
for gato in lista:
    if hola == 2:
        print(gato[5])
    print (hola)
    hola+=1

In [376]:
lista =["alba", "alexia", "mama","papa"]
for vaso in lista:
    print (vaso)

alba
alexia
mama
papa

In [378]:
lista2=["alba", "alexIa", "mama", "papa"]
for perro in lista2:
     if perro =="alexIa":
        print (lista2[2][3])

a

In [ ]:
lista2=["alba", "alexIa", "mama", "papa"]
for perro in lista2:
     if perro =="alexIa":
        print (lista2[2][3])

In [380]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [382]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

200
50

In [384]:
lista = [1, 3, "5", 8]

lista[2] = "X"
lista

[1, 3, 'X', 8]

In [254]:
lista = (1, 3, "5", 8)

lista[2] = "X"
lista

TypeError: 'tuple' object does not support item assignment

In [257]:
print("Yo soy 'así'")

Yo soy 'así'

In [259]:
print('Yo soy "así"')

Yo soy "así"

In [261]:
_ = "así"
print("Yo soy " + _ + " .")

Yo soy así .

In [263]:
_ = 15
x = "Yo tengo " + str(_) + " años."
print(x)

Yo tengo 15 años.

In [265]:
print("Yo tengo", _ , " años.")

Yo tengo 15  años.

In [267]:
def prtn(x, r, y, t):
    print(x + r + y + t)

prtn(x="Yo", r=" tengo", y=" 15", t=" años.")

Yo tengo 15 años.

In [269]:
def prtn(x, r, y, t):
    print(x + r + y + t)

prtn("Yo", " tengo", " 15", " años.")

Yo tengo 15 años.

In [271]:
def p(*args):
    print(args)

p(2, 4, 6, 8, 3, 1, 3)

(2, 4, 6, 8, 3, 1, 3)

## 6. Funciones con & sin return

In [273]:
def x():
    a = 2
    b = 4
    suma = a + b
    print(suma)

x()

6

In [ ]:
def x():
    a = 2
    b = 4
    suma = a + b
    print(suma)

x()

In [275]:
def x():
    a = 2
    b = 4
    suma = a + b
    #print("suma:", suma)
    return a

z = x()
print("z:", z)

z: 2

In [277]:
a = 3

def nombre_funcion():
    a = 2
    b = 4
    suma3 = a + b
    print("suma3:", suma3)

print("a:", a)
nombre_funcion()

a: 3
suma3: 6

In [279]:
a = 3

def nombre_funcion():
    print("a2:", a)
    b = 4
    suma3 = a + b
    print("suma3:", suma3)

print("a0:", a)
nombre_funcion()

a0: 3
a2: 3
suma3: 7

In [ ]:
def nombre_funcion():
    a = 2
    b = 4
    suma3 = a + b
    return suma3
    
print(nombre_funcion())

In [282]:
def nombre_funcion():
    a = 2
    b = 4
    suma3 = a + b
    
print(nombre_funcion())

None

In [ ]:
s = "HOLA"
s.lower()

In [285]:
def nombre_funcion():
    a = 2
    b = 4
    suma3 = a + b
    resta = a - b
    print(suma3)
    print(resta)
    return resta
    print(suma3)
    return ["2", 2]
    
x = nombre_funcion()
print(x)

6
-2
-2

In [287]:
def suma():
    a = 2
    b = 3
    return a + b

def multiplicacion():
    a = 2
    b = 3
    return a * b

def f():
    x = suma()
    y = multiplicacion()
    h = x / y
    return h

x = f()
print(x)

0.8333333333333334

In [289]:
suma = 2 
x = suma()

TypeError: 'int' object is not callable

In [291]:
# Esto es un comentario
""" Esto es otro"""

def suma_generica(arg1, arg2):
    """ Suma arg1 y arg2 
    Esta es la segunda línea de la documentación de la función
    """
    a = 2  # Esta variable vale 2
    return arg1 + arg2

a = 3
b = 7

x = suma_generica(arg1=a, arg2=b)
print(x)

10

In [ ]:
help(suma_generica)

In [294]:
def suma_generica(arg1, arg2):
    """ Suma arg1 y arg2 """
    if arg1.isnumeric() and arg2.isnumeric():
        return int(arg1) + int(arg2)
    else:
        print("Solo se pueden sumar números")

a = input()
b = input()

x = suma_generica(arg1=a, arg2=b)
print(x)

Solo se pueden sumar números
None

In [296]:
def suma_generica(arg1, arg2):
    """ Suma arg1 y arg2 """
    if arg1.isnumeric() and arg2.isnumeric():
        return int(arg1) + int(arg2)
    else:
        return "Solo se pueden sumar números"

a = input()
b = input()

x = suma_generica(arg1=a, arg2=b)
print(x)

Solo se pueden sumar números

## Bonus: 

- x % y --> El módulo
- .gitignore

In [298]:
2/2

1.0

In [300]:
235202905902 % 2

0

In [302]:
8 - 2

6

In [304]:
8 % 2

0

In [306]:
8 / 2

4.0

In [308]:
if not(1 == 1):
    print(True)
else:
    print(False)

False

In [310]:
y = 2
if y:
    print("Y")
if not(y):
    print(6)
else:
    print("imprime otra cosa")

Y
imprime otra cosa

## 7. Diccionarios

{key:value}

In [312]:
diccionario = {1:"X", "X":2}
diccionario

{1: 'X', 'X': 2}

In [ ]:
diccionario[1]

In [315]:
diccionario["X"]

2

In [317]:
diccionario["clave"] = ["2", 2]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 2]}

In [319]:
diccionario[2] = 4
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 2], 2: 4}

In [321]:
print(diccionario["clave"])

['2', 2]

In [323]:
diccionario["clave"] = ["2", 4]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 4], 2: 4}

In [325]:
diccionario["clave"] = diccionario["clave"]
diccionario

{1: 'X', 'X': 2, 'clave': ['2', 4], 2: 4}

In [327]:
diccionario["X"] = "3"
diccionario

{1: 'X', 'X': '3', 'clave': ['2', 4], 2: 4}

In [329]:
diccionario["x"] = 99
diccionario

{1: 'X', 'X': '3', 'clave': ['2', 4], 2: 4, 'x': 99}

In [ ]:
diccionario["X"] = diccionario["x"]
diccionario

In [332]:
for elem in diccionario:
    print("Claves:", elem)

Claves: 1
Claves: X
Claves: clave
Claves: 2
Claves: x

In [334]:
for elem in diccionario.values():
    print(elem)

X
99
['2', 4]
4
99

In [336]:
for elem in diccionario.keys():
    print(elem)

1
X
clave
2
x

In [338]:
diccionario

{1: 'X', 'X': 99, 'clave': ['2', 4], 2: 4, 'x': 99}

In [340]:
for maria, alba in diccionario.items():
    print("k:", maria)
    print("v:", alba)
    print("-----------------")

k: 1
v: X
-----------------
k: X
v: 99
-----------------
k: clave
v: ['2', 4]
-----------------
k: 2
v: 4
-----------------
k: x
v: 99
-----------------

In [342]:
x = 2
x

2

In [344]:
del x
x

NameError: name 'x' is not defined

In [347]:
diccionario

{1: 'X', 'X': 99, 'clave': ['2', 4], 2: 4, 'x': 99}

In [349]:
del diccionario["clave"]
diccionario

{1: 'X', 'X': 99, 2: 4, 'x': 99}

In [351]:
del diccionario["x"]
diccionario

{1: 'X', 'X': 99, 2: 4}

In [ ]:
diccionario.update({'before' : 24})
diccionario

In [354]:
diccionario["before"] = 2
diccionario

{1: 'X', 'X': 99, 2: 4, 'before': 2}

In [356]:
diccionario["dict"] = diccionario

In [ ]:
print(diccionario)

In [359]:
for k, v in diccionario.items():
    print("k", k)
    print("v", v)
    if k == "dict":
        for x, y in v.items():
            print("x", x)
            print("y", y)
    print("-------------")

k 1
v X
-------------
k X
v 99
-------------
k 2
v 4
-------------
k before
v 2
-------------
k dict
v {1: 'X', 'X': 99, 2: 4, 'before': 2, 'dict': {...}}
x 1
y X
x X
y 99
x 2
y 4
x before
y 2
x dict
y {1: 'X', 'X': 99, 2: 4, 'before': 2, 'dict': {...}}
-------------

In [ ]:
dict_dnis = {}
dict_dnis["899008667J"] = ["Paco", 1.78, 33, 4000000]
dict_dnis["676777888Y"] = ["Paco", 1.78, 33, 30]
dict_dnis

## 8. Import Modules

In [362]:
import mi_modulo 

suma = mi_modulo.suma_2(a=2, b=6)
print(suma)

ModuleNotFoundError: No module named 'mi_modulo'

In [ ]:
resta = mi_modulo.resta_2(a=7, b=6)
resta

In [366]:
from mi_modulo import resta_2

resta2 = resta_2(a=5, b=3)
resta2

ModuleNotFoundError: No module named 'mi_modulo'

In [369]:
import mi_modulo as mm

mm.resta_2()

ModuleNotFoundError: No module named 'mi_modulo'

### Bonus lista

In [372]:
lista = [1, 2, 3, 6, 7, 8]

lista[1:4]

[2, 3, 6]

In [374]:
lista[2:4]
[0, 4)

SyntaxError: invalid syntax (<ipython-input-374-2ef64ce998d4>, line 2)

In [377]:
l = [1, 2, 3, 4, 5 ,6 ,7 ,8 ,9]

[0, 4]
(0, 4)

(0, 4)

## 9. Bucle While

In [379]:
l = "dija"
acum = 0
for i in l:
    acum = acum + 1
    print(i, acum)

d 1
i 2
j 3
a 4

In [381]:
l = "dija"
acum = 1
for i in l:
    print(i, acum)
    acum = acum + 1

d 1
i 2
j 3
a 4

In [383]:
acum = 0
while acum < 5:
    print("Iteración: ", acum + 1)
    acum += 1

Iteración: 1
Iteración:  2
Iteración:  3
Iteración:  4
Iteración:  5

In [ ]:
lista = [2, 4, 5, "Yo"]
l = [], None, 0, False
while l:
    print("K")

In [ ]:
lista[0]
lista[1]
lista[2]
lista[3]

In [75]:
lista = [2, 4, 5, "Yo"]
for x in lista:
    print(x)

2
4
5
Yo

In [77]:
lista = [2, 4, 5, "Yo"]
acum = 0
tamano_lista = len(lista)
while acum < 4:
    print(lista[acum])
    acum += 1

2
4
5
Yo

In [82]:
lista = [2, 4, 5, "Yo"]
acum = 0
tamano_lista = len(lista)
while acum <= tamano_lista:
    if acum >= tamano_lista:
        print("Ha entrado en el break")
        print("acum:", acum)
        print("tamano_lista", tamano_lista)
        break
    print(lista[acum])
    print("acum:", acum)
    acum += 1
    print("--------------------")

print("Esto está fuera del while")

2
acum: 0
--------------------
4
acum: 1
--------------------
5
acum: 2
--------------------
Yo
acum: 3
--------------------
Ha entrado en el break
acum: 4
tamano_lista 4
Esto está fuera del while

In [71]:
acum = 0 
if acum < 5:
    print("Es menor")

Es menor

## 10. Break, Continue

In [7]:
lista = ["alex", 2, "gab", "l", "8"]
for i in lista:
    print(i)
    if i == "l":
        break

alex
2
gab
l

In [13]:
lista = ["alex", "begoña", "gabriel", "sara", "ataulfo"]

for k in lista:
    if k == "gabriel":
        continue
    print(k)

alex
begoña
sara
ataulfo

## 11. 

### for x in range()

### for x in enumerate()

In [19]:
lista = ["Pepito", "Lorenzo", "Juan", "Laura", "Alicia", "Mónica"]

for x in lista:
    print(x)

Pepito
Lorenzo
Juan
Laura
Alicia
Mónica

In [27]:
lista

['Pepito', 'Lorenzo', 'Juan', 'Laura', 'Alicia', 'Mónica']

In [31]:
tamano_lista = len(lista)
for x in range(tamano_lista):
    print("x:", x)
    print("elem:", lista[x])
    print("-------------")

x: 0
elem: Pepito
-------------
x: 1
elem: Lorenzo
-------------
x: 2
elem: Juan
-------------
x: 3
elem: Laura
-------------
x: 4
elem: Alicia
-------------
x: 5
elem: Mónica
-------------

In [32]:
lista

['Pepito', 'Lorenzo', 'Juan', 'Laura', 'Alicia', 'Mónica']

In [33]:
for x in enumerate(lista):
    print(x)

(0, 'Pepito')
(1, 'Lorenzo')
(2, 'Juan')
(3, 'Laura')
(4, 'Alicia')
(5, 'Mónica')

In [36]:
lista

['Pepito', 'Lorenzo', 'Juan', 'Laura', 'Alicia', 'Mónica']

In [37]:
for pos, elem in enumerate(lista):
    print("pos:", pos)
    print("elem:", elem)
    print("-------------")

pos: 0
elem: Pepito
-------------
pos: 1
elem: Lorenzo
-------------
pos: 2
elem: Juan
-------------
pos: 3
elem: Laura
-------------
pos: 4
elem: Alicia
-------------
pos: 5
elem: Mónica
-------------

In [38]:
ol = ['Pepito', 'Lorenzo', [6, 8], 'Laura', 'Alicia', 'Mónica']

ol[2][1]

8

In [41]:
ol

['Pepito', 'Lorenzo', [6, 8], 'Laura', 'Alicia', 'Mónica']

In [42]:
for i, x in enumerate(ol):
    if i == 2:
        print(x[1])

8

In [45]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [46]:
x = 2
print(isinstance(x, int))

True

In [47]:
ol

['Pepito', 'Lorenzo', [6, 8], 'Laura', 'Alicia', 'Mónica']

In [52]:
for i, x in enumerate(ol):
    print("Iteración:", i+1)
    if isinstance(x, list):
        print("La posición es: ", i)
        print(x[1])

Iteración: 1
Iteración: 2
Iteración: 3
La posición es:  2
8
Iteración: 4
Iteración: 5
Iteración: 6

In [55]:
al = ['Pepito', 'Lorenzo', [6, 8], 'Laura', (5, 78), 'Mónica']

In [62]:
for i, x in enumerate(al):
    print("Iteración:", i+1)
    if isinstance(x, (list, tuple)):
        print("Se cumple")
        print("La posición es: ", i)
        print(x[1])
        break
    print("---------------")

Iteración: 1
---------------
Iteración: 2
---------------
Iteración: 3
Se cumple
La posición es:  2
8

In [26]:
j = range(15)
print(type(j))
j

<class 'range'>

range(0, 15)

In [25]:
k = list(range(15))
k

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## 12. Leer ficheros

## 13. Try/Except

## 14. Recursividad

In [ ]:
def f():
    print("Muestro esto")
    f()
    print("X")
    
f()

In [84]:
def f(acum):
    if acum == 10:
        return acum
    print("acum:", acum)
    f(acum=acum+1)
    
x = f(acum=0)
print("x:", x)

acum: 0
acum: 1
acum: 2
acum: 3
acum: 4
acum: 5
acum: 6
acum: 7
acum: 8
acum: 9
x: None