# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [130]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [131]:
import pandas as pd
import datetime

### Step 2. Import the dataset from this [address](https://github.com/guipsamora/pandas_exercises/blob/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [132]:
data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
data2 = pd.read_csv(data_url, sep = "\s") 
data2 #por defecto el read csv trae el separador "," pero hay que poner el  ismo que viene en el dataframe (en este caso espacio)

,Yr,Mo,Dy,Unnamed: 3,Unnamed: 4,RPT,Unnamed: 6,Unnamed: 7,VAL,Unnamed: 9,...,MUL,Unnamed: 30,Unnamed: 31,CLO,Unnamed: 33,Unnamed: 34,BEL,Unnamed: 36,Unnamed: 37,MAL
0,61,NaN,1.0,NaN,1.00,15.04,14.96,13.17,NaN,9.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,61,NaN,1.0,NaN,2.00,14.71,NaN,NaN,NaN,10.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,61,NaN,1.0,NaN,3.00,18.50,16.88,12.33,10.13,11.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,61,NaN,1.0,NaN,4.00,10.58,NaN,6.63,11.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,61,NaN,1.0,NaN,5.00,13.33,13.25,11.42,NaN,6.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12.0,27.0,17.58,16.96,17.62,NaN,8.08,13.21,11.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6570,78,12.0,28.0,13.21,NaN,5.46,13.46,NaN,5.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6571,78,12.0,29.0,14.00,10.29,14.42,NaN,8.71,NaN,9.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6572,78,12.0,30.0,18.50,14.04,21.29,NaN,9.13,12.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6573,78,12.0,31.0,20.33,17.41,27.29,NaN,9.59,12.08,10.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
from datetime import datetime

#nos tenemos que fijar el orden que lleva (año, mes, dia) 
date_time_str = '2018-06-29 08:15:27.243860' #pasamos este string a formato datetime 
date_time_obj = datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')#esto ultimo es la codificacion para vertir los datos en tiempo (buscar en google) 

print('Date:', date_time_obj.date()) #date_time_obj es un objeto, es una clase, estas lineas que haora vemos son sus funciones 
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)
date_time_obj.minute

Date: 2018-06-29
Time: 08:15:27.243860
Date-time: 2018-06-29 08:15:27.243860

15

In [134]:
x = date_time_obj.strftime("%m/%d/%Y,------ %H:%M:%S") #cambiamos nuestro objeto datetime a string de nuevo

In [135]:
x = date_time_obj.strftime("%m/%d/%Y,------ %H:%M:%S") 
type(x)

str

In [136]:
data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
data2 = pd.read_csv(data_url, sep = "\s+") #ese + al lado de la s es para que se vierta todo correctamente sin convertir los espaciones en vacio en nuevas columnas 
data2

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6569,78,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,78,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,78,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,78,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,78,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

In [137]:
data2["date_"] = data2["Yr"].str + data2["Mo"].str + data2["Dy"].str
data2["date_"]

AttributeError: Can only use .str accessor with string values!

In [138]:
# parse_dates gets 0, 1, 2 columns and parses them as the index
data_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'
data = pd.read_csv(data_url, sep = "\s+", parse_dates=[[0,1,2]]) #> ese o, 1 y 2 son las 3 primeras columnas (Yr_Mo_Dy)
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [ ]:
data.info()

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [141]:
# New year's eve of 2020

newYearEve2020 = datetime.datetime(2019, 12, 31, 12, 59, 59, 99)

# Make it the next day by calling replace function

newYearDate2020 = newYearEve2020.replace(2020, 1, 1, 00, 00, 00, 00)

newYearDate2020

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [142]:
x = data.sort_values("Yr_Mo_Dy", ascending=0)
x

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
3286,2069-12-31,14.42,13.83,27.71,7.08,12.08,10.00,14.58,11.00,12.54,7.12,11.17,17.41
3285,2069-12-30,16.25,13.25,23.42,8.04,10.04,8.17,16.79,11.42,11.92,11.42,11.50,27.84
3284,2069-12-29,18.66,15.96,19.38,6.38,13.54,10.08,14.29,11.46,10.58,9.59,13.75,25.04
3283,2069-12-28,18.34,18.00,15.75,6.08,13.29,11.34,9.71,11.87,9.21,8.75,15.87,18.12
3282,2069-12-27,6.71,6.21,5.29,0.42,5.96,4.17,3.04,5.25,2.17,3.75,12.46,13.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3291,1970-01-05,10.46,5.29,10.83,3.63,4.75,5.29,12.33,5.83,6.79,6.21,11.83,20.21
3290,1970-01-04,11.21,7.38,11.58,2.13,3.29,1.13,8.92,4.92,5.54,5.71,7.58,15.54
3289,1970-01-03,8.08,7.46,11.71,3.58,4.50,3.63,5.13,4.75,3.13,2.50,12.54,18.25
3288,1970-01-02,9.00,4.29,6.75,4.58,5.79,6.58,8.58,6.21,9.59,6.04,10.17,16.96
3287,1970-01-01,9.59,2.96,11.79,3.42,6.13,4.08,9.00,4.46,7.29,3.50,7.33,13.00

In [143]:
# The problem is that the dates are 2061 and so on...

# function that uses datetime
def fix_century(x):
  year = x.year - 100 if x.year > 1999 else x.year
  return datetime.date(year, x.month, x.day)

# function that uses datetime
def fix_century_v2(x):
  year = x.year - 100 if x.year > 1989 else x.year
  new_date = x.replace(year, x.month, x.day, x.hour, x.minute, x.seconds)
  return new_date

# apply the function fix_century on the column and replace the values to the right ones
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

# data.info()
data.head()

TypeError: descriptor 'date' for 'datetime.datetime' objects doesn't apply to a 'int' object

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [144]:
# transform Yr_Mo_Dy it to date type datetime64
data["Yr_Mo_Dy"] = pd.to_datetime(data["Yr_Mo_Dy"])

# set 'Yr_Mo_Dy' as the index
data = data.set_index('Yr_Mo_Dy')

data.head()
# data.info()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [145]:
# "Number of non-missing values for each location: "
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [146]:
#number of columns minus the number of missing values for each location
data.shape[0] - data.isnull().sum()

#or

data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [147]:
data.sum().sum() / data.notna().sum().sum() #sum.sum suma tanto columnas como filas 
#data.notna.sum.sum suma de todos los elementos no nulos tanto de filas como columnas (osea, todo)

10.227883764282167

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [148]:
data.describe(percentiles=[])

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [149]:
# create the dataframe
day_stats = pd.DataFrame()#esto, al contrario que el .describe, me calcula todos estos valores (media, st ...) por filas 

# this time we determine axis equals to one so it gets each row.
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

day_stats.head()

             min    max       mean       std
Yr_Mo_Dy
2061-01-01  9.29  18.50  13.018182  2.808875
2061-01-02  6.50  17.54  11.336364  3.188994
2061-01-03  6.17  18.50  11.641818  3.681912
2061-01-04  1.79  11.75   6.619167  3.198126
2061-01-05  6.17  13.33  10.630000  2.445356

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [150]:
data.loc[data.index.month == 1].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [151]:
data.groupby(data.index.to_period('A')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370
2061,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
2062,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
2063,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
2064,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
2065,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
2066,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
2067,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
2068,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
2069,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904

### Step 13. Downsample the record to a monthly frequency for each location.

In [152]:
data.groupby(data.index.to_period('M')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1970-01,13.152581,11.731935,13.083871,5.810968,9.507742,8.040323,9.843226,8.834194,8.407097,7.626452,12.403871,17.192903
1970-02,14.820714,13.776071,12.643929,6.894643,11.923929,7.954643,11.837857,9.223214,10.339643,8.415357,14.899643,18.016786
1970-03,14.941613,11.496129,13.180968,7.494194,11.484194,8.242581,12.160968,10.082581,10.936774,9.710645,15.041290,19.093226
1970-04,14.733333,11.843667,12.711333,7.316667,10.938333,8.707333,11.171667,9.249667,10.004333,10.178333,13.237000,16.899667
1970-05,10.185161,9.154194,9.720323,5.639677,10.465484,7.879355,8.982258,8.938387,9.251935,8.784516,13.989355,15.335161
...,...,...,...,...,...,...,...,...,...,...,...,...
2069-08,11.567419,9.656774,9.192581,5.661935,9.667097,6.407097,7.070323,6.366452,7.568065,7.800323,11.952258,13.715161
2069-09,8.544333,7.146000,10.698000,4.161667,8.561333,4.934000,7.120333,6.839000,6.089333,6.203333,11.665000,14.972333
2069-10,10.640968,10.424194,10.522581,5.803548,11.545161,7.075484,8.483871,9.713226,8.495806,8.717419,15.348387,17.298710
2069-11,12.462000,11.430667,12.141333,5.499667,9.828667,6.710000,10.166333,8.304667,8.458000,7.864667,14.758667,20.094667
2069-12,13.335806,11.969032,12.433226,5.446129,9.766129,7.532581,10.076774,8.656774,8.801935,7.603226,13.511613,17.707097

### Step 14. Downsample the record to a weekly frequency for each location.

In [153]:
data.groupby(data.index.to_period('W')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1969-12-29/1970-01-04,9.470000,5.522500,10.457500,3.427500,4.927500,3.855000,7.907500,5.085000,6.387500,4.437500,9.405000,15.937500
1970-01-05/1970-01-11,12.762857,9.290000,12.945714,4.941429,7.840000,7.380000,10.571429,7.515714,8.192857,6.315714,9.547143,15.998571
1970-01-12/1970-01-18,12.484286,12.530000,11.857143,5.470000,10.005714,8.081429,9.468571,8.950000,8.120000,7.671429,11.612857,17.060000
1970-01-19/1970-01-25,16.440000,15.818571,15.154286,8.298571,12.118571,10.454286,10.462857,11.958571,10.462857,11.071429,17.802857,20.201429
1970-01-26/1970-02-01,14.302857,14.274286,14.557143,6.988571,12.147143,9.690000,11.177143,10.280000,9.251429,8.727143,14.034286,17.355714
...,...,...,...,...,...,...,...,...,...,...,...,...
2069-12-02/2069-12-08,15.214286,13.148571,11.685714,7.081429,10.982857,7.387143,10.588571,9.768571,10.441429,8.128571,13.918571,18.571429
2069-12-09/2069-12-15,12.440000,12.065714,10.120000,4.037143,9.827143,7.028571,8.674286,7.338571,7.328571,6.977143,14.597143,15.522857
2069-12-16/2069-12-22,12.827143,11.578571,14.242857,6.250000,9.952857,9.084286,11.892857,9.522857,10.065714,9.082857,14.094286,20.238571
2069-12-23/2069-12-29,12.821429,11.220000,10.702857,3.958571,8.088571,6.430000,7.708571,7.564286,6.375714,5.875714,12.071429,14.738571
2069-12-30/2070-01-05,15.335000,13.540000,25.565000,7.560000,11.060000,9.085000,15.685000,11.210000,12.230000,9.270000,11.335000,22.625000

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [154]:
# resample data to 'W' week and use the functions
weekly = data.resample('W').agg(['min','max','mean','std'])

# slice it for the first 52 weeks and locations
weekly.loc[weekly.index[1:53], "RPT":"MAL"] .head(10)

              RPT                               VAL                    \
              min    max       mean       std   min    max       mean
Yr_Mo_Dy
1970-01-11   5.00  22.92  12.762857  6.641402  3.50  20.75   9.290000
1970-01-18   6.71  21.67  12.484286  6.526860  5.00  18.88  12.530000
1970-01-25   5.00  22.63  16.440000  6.006344  4.29  23.67  15.818571
1970-02-01   4.79  22.46  14.302857  6.634096  2.17  21.79  14.274286
1970-02-08   7.25  19.33  12.971429  5.026780  7.29  22.25  14.361429
1970-02-15  10.79  19.87  14.422857  3.815057  6.83  26.75  12.367143
1970-02-22   7.46  21.84  16.721429  5.149102  9.71  20.83  15.857143
1970-03-01   9.96  23.29  13.888571  4.805169  6.04  15.87  10.268571
1970-03-08   7.87  23.04  16.667143  5.702233  5.29  15.12  10.958571
1970-03-15  10.54  24.17  15.147143  5.049715  6.25  17.96  11.341429

                       ROS         ...        CLO              BEL         \
                 std   min    max  ...       mean       std    min    max
Yr_Mo_Dy                           ...
1970-01-11  7.007460  6.34  24.08  ...   6.315714  2.778698   1.71  17.12
1970-01-18  5.435862  6.08  21.42  ...   7.671429  5.213385   5.58  18.88
1970-01-25  6.460899  7.58  20.91  ...  11.071429  5.969616  10.21  28.12
1970-02-01  7.729543  4.42  20.91  ...   8.727143  6.375186   4.50  24.08
1970-02-08  5.951054  7.54  14.12  ...   8.184286  4.978081   6.54  23.25
1970-02-15  7.034358  7.08  21.71  ...   6.251429  3.133275   4.29  23.71
1970-02-22  4.215403  7.12  18.96  ...  10.750000  3.722275   9.33  24.83
1970-03-01  3.894211  8.96  17.88  ...   7.381429  3.664989   4.58  19.25
1970-03-08  3.830424  7.54  16.79  ...   8.397143  2.646127   8.33  20.21
1970-03-15  4.868554  6.00  31.83  ...   9.654286  4.661315   4.21  21.42

                                   MAL
                 mean       std    min    max       mean       std
Yr_Mo_Dy
1970-01-11   9.547143  4.692166   8.50  25.62  15.998571  6.226710
1970-01-18  11.612857  5.153432   5.96  32.00  17.060000  8.767864
1970-01-25  17.802857  7.208122  12.33  25.37  20.201429  4.759578
1970-02-01  14.034286  7.722206   8.54  26.83  17.355714  7.553081
1970-02-08  16.320000  7.190320   5.29  28.96  19.225714  8.258095
1970-02-15  11.142857  6.415901   9.25  21.59  15.427143  4.544134
1970-02-22  17.737143  5.192327  15.92  28.29  21.101429  4.723591
1970-03-01  13.024286  5.673388   8.46  27.25  15.902857  6.817677
1970-03-08  15.504286  4.472400  13.79  26.46  19.755714  5.227599
1970-03-15  13.415714  6.180876   9.96  27.67  17.791429  6.283920

[10 rows x 48 columns]